.product-details-sec {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.product-details-sec p {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.details-img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-preview-img {
  width: 50px;
  height: 50px;
}
.preview-img-con {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-self: start;
}
.product-details-main-img-con {
  align-self: start;
  position: relative;
}
.color-img {
  width: 50px;
  height: 50px;
}
.colors-preview {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.preview-main {
  background-color: beige;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.preview-black {
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.preview-gray {
  background-color: gray;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.preview-blue {
  background-color: blue;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.preview-orange {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.sizes-con {
  margin-top: 20px;
}
.size-sel-con {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  /* background-image: url('/s') */
}