.nav-con {
  border: 2px black solid;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-ul-con {
  display: flex;
  height: 100%;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  align-self: end;
}

.nav-ul li {
  list-style: none;
  background-color: red;
}
.social-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

ul > li {
  list-style: none;
}
.sign-in-cart-icon-con {
  position: absolute;
  top: 0px;
  right: 0px;
}
.twitter {
  color: #4c6ef5;
}
.instagram {
  background: #d6249f;
  background: linear-gradient(45DEG, #405de6, #5851db, #833ab4, #C13584, #E1306c, #FD1D1D);
  border-radius: 4px;
  height: 16px;
  width: 16px;
  display: inline-block;
  text-align: center
}
li > a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.facebook {
  color: #3a5794;
  background-color: white;
}